* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../img/workbench.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

p {
  margin-left:auto;
  margin-right:auto;
  width: 600px;
  text-align: justify;
  line-height: 1.5;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 600px;
  text-align: justify;
  background: rgba(255, 255, 255, .5);
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
  padding: 30px;
  margin: 5px;
}


.container {
  display: flex;
  flex-direction: row;
  align-items: start ;
  background: rgba(255, 255, 255, .5);
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
  padding: 30px;
  margin: 5px;
  }



.nav_bar {
  width: 100%;
  overflow: auto;
  background-color: #333;
  position: fixed;
}

.nav_bar a {
  float: right;
  color: #f2f2f2;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  width: 25%;
}

.nav_bar a:hover {
  background: linear-gradient(to left bottom, lightgreen, chartreuse);
  /*background-color: chartreuse;*/
  color:black;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  transition: all 1500ms ease;
}

.content {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
  height: 800px ;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10px;
  text-align: center;
  color: #f2f2f2;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 14px 16px;
  background-color: #333;
  color: #888888;
  position: fixed;
  left:0;
  bottom: 0;
  text-align: center;
}

input[type=text], [type=email], textarea {
  width: 100%;
  height:fit-content;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}
