* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../img/workbench.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/********************RESPONSIVE MEDIA QUERY FOR SMALL SMALL SCREENS/MOBILE DEVICES*************************/

@media (max-width:600px) {
  body {
    background: #808080;
    width: 100%;
  }

  .content {
    width: 100%;
    align-items: center;
  }
  .container {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 100%;
    grid-template-rows: 100px 400px 50px;
    grid-gap: 0;
    grid-template-areas:
      "nav_bar"
      "content"
      "footer";
    align-items: center;
    justify-content: center;
    border: none;
  }

  img {
    width: 100%;
  }

  form {
    width: 50%;
    align-items: center;
  }

  input[type=text], textarea {
    width:50%;
  }
  input[type=email]{
  width: 50%;
  }
}

/**********************************************************************************************************/



p {
  margin-left:auto;
  margin-right:auto;
  width: 600px;
  text-align: justify;
  line-height: 1.5;
}

form {
  width: 600px;
  align-items: start;
}

hr {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  border: 3px solid darkgrey;
  margin: unset;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items:center;
  background: rgba(50, 50, 50, 1);
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
  padding: 30px;
  margin: 5px;
}


.container {
  display: flex;
  flex-direction: row;
  align-items: start ;
  background: rgba(50, 50, 50, 1);
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
  padding: 30px;
  margin: 5px;
  }

.links {
  display: flex;
  flex-direction: row;
  align-items: start ;
  background: rgba(50, 50, 50, 1);
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
  padding: 30px;
  margin-bottom: 100px;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: start;
  background: rgba(50, 50, 50, 1);
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
  padding: 30px;
  margin-bottom: 100px;
}

.links a:hover {
  background: linear-gradient(to left bottom, lightgreen, chartreuse);
  color:black;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  transition: all 5s ease-in-out;
}

.nav_bar {
  width: 100%;
  overflow: auto;
  background-color: black;
  position: fixed;
}

.nav_bar a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  width: 25%;
}

.nav_bar a:hover {
  background: linear-gradient(to left bottom, lightgreen, chartreuse);
  color:black;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  transition: all 1500ms ease;
}

.content {
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
  height: auto;
  background: rgba(50,50,50, .85);
  padding: 10px;
  text-align: center;
  color: #f2f2f2;

}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 14px 16px;
  background-color: black;
  color: #888888;
  position: fixed;
  left:0;
  bottom: 0;
  text-align: center;
}

input[type=text], [type=email], textarea {
  width: fit-content;
  height:fit-content;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}
